@keyframes r2 {
0%{
    left: -55vw;
}
100%{
    left: 60vw;
}

}
@keyframes txt1{
    0%{
        
        transform: translateX(-41vw);
        }
    100%{
        transform: translateX(-180vw);
    }
}
@keyframes txt2 {
    0% {

        transform: translateX(-10vw);
        
    }

    100% {
        transform: translateX(-232.8vw)
    }
}
@keyframes plane {
 0%{
    transform: rotate(0deg);
 }
 100%{
    transform: rotate(360deg);
    }
 }
 @keyframes plane1 {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(-360deg);
     }
 }
@keyframes left{
0%{
    left: -74.5vw
}
100%{
    left: -31vw
}

}
@keyframes right {
    0% {
        left: -31vw
    }

    100% {
        left: -74.5vw
    }

}
@keyframes bagage1{
    0% {
        left: -56vw;
    }
    100% {
        left: -3vw;
    }
}
@keyframes drop{
    0%{top: -52vw;}
    100%{top: 35vw;}
}
@keyframes rotate{
  0%{
transform: rotate(30deg);
  }
50%{
transform: rotate(-30deg);
}
100%{
    transform: rotate(30deg);
}
}
@keyframes txt3{
    0%{
        left: 0vw;
    }
    100%{
        left: -237vw;
    }
}