@font-face {
  font-family: 'Carisma Gothic';
  src: url('../fonts/CarismaGothic-600DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  /* Оптимизация загрузки */
}